@model HW5.Models.TextBook
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-4">
    <h2>Update TextBook</h2>
</div>

<div class="col-7">
    @using (Html.BeginForm("Update", "TextBook"))
    {
        <div class="form-row">
            <div class="form-group col-5">
                @Html.LabelFor(m => m.Title)
                @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group col-5">
                @Html.LabelFor(m => m.Author)
                @Html.EditorFor(m => m.Author, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group col-2">
                @Html.LabelFor(m => m.Price)
                @Html.EditorFor(m => m.Price, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-5">
                @Html.LabelFor(m => m.Genre)
                @Html.EditorFor(m => m.Genre, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group col-5">
                @Html.LabelFor(m => m.ISBN)
                @Html.EditorFor(m => m.ISBN, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group col-2">
                @Html.LabelFor(m => m.Stock)
                @Html.EditorFor(m => m.Stock, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-5">
                @Html.LabelFor(m => m.Subject)
                @Html.EditorFor(m => m.Subject, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group col-2">
                @Html.LabelFor(m => m.Edition)
                @Html.EditorFor(m => m.Edition, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12">
                @Html.LabelFor(m => m.Image)
                @Html.DropDownListFor(n => n.Image.ID, Model.selectList, new { @class = "form-control" })
            </div>
        </div>

        <input class="btn btn-primary" type="submit" />
        <a class="btn btn-secondary" href="@Url.Action("Index", "Warehouse")">Cancel</a>
    }

</div>